absl-py==0.1.10
audioread==2.1.5
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bleach==1.5.0
click==6.7
cycler==0.10.0
decorator==4.2.1
enum34==1.1.6
Flask==0.12.2
funcsigs==1.0.2
futures==3.2.0
h5py==2.7.1
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
joblib==0.11
Keras==2.1.4
kiwisolver==1.0.1
librosa==0.6.0
llvmlite==0.22.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mock==2.0.0
nltk==3.3
numba==0.37.0
numpy==1.14.1
pbr==3.1.1
Pillow==5.2.0
protobuf==3.5.1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
resampy==0.2.0
scikit-learn==0.19.1
scipy==1.0.0
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
torch==0.4.0
torchvision==0.2.1
Werkzeug==0.14.1
