ol {
  margin-left: -10% !important;
}

small{
  display: inline-block;
  font-size: 20px;
}


/* Colors */

.blue {
  background-color: #4A99D8;
}

.purple {
  background-color: #A51FC7;
}

.green {
  background-color: #13CCA2;
}

.red {
  background-color: #DD3C6D;
}

.gray {
  background-color: #4E6974;
}


/* Text */

.text-off-white {
  color: #E8EFF3;
}

.big-text {
  font-size: 16pt;
  margin-left: 0% !important;
}


/* Buttons */

.btn-all {
  border-style: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #E8EFF3;
  width: 100%;
}

.rounded {
  font-size: 18px;
  border-radius: 3px;
}

.btn-purple {
  background-color: #A51FC7;
}

.btn-blue {
  background-color: #4A99D8;
}

.btn-green {
  background-color: #13CCA2;
}

.btn-red {
  background-color: #DD3C6D;
}

.btn-purple:hover {
  background-color: #8519A1;
}

.btn-blue:hover {
  background-color: #3D7FB3;
}

.btn-green:hover {
  background-color: #0FA684;
}

.btn-red:hover {
  background-color: #B8325B;
}

.rounded {
  border-radius: 4px;
}


/* Target specific divs */

.instructions {
  white-space: normal;
  font-size: 20pt;
}

.wavesurfer-region::before {
  position: absolute;
  border-style: solid;
  border-width: 10px;
  top: 2px;
  color: 'hsla(0, 0%, 100%, 0.15)';
}

.wavesurfer-region[data-id="queryRegion"] {
  width: 100%;
  /* border: none; */
  border-right: 5px solid #4A9AD9;
}

.wavesurfer-handle-start {
  background-color: transparent;
  width: 5% !important;
  max-width: 8px !important;
  border: 2.5px solid #4A9AD9;
}

.wavesurfer-handle-end {
  background-color: transparent;
  width: 5% !important;
  max-width: 8px !important;
  border: 5px solid transparent;
}

.waveform {
  background-color: #4E6974;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 1px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.timer {
  padding: 0;
  margin: 0 auto;
}

.scrollbox {
  overflow-y: auto !important;
  overflow-x: visible !important;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #4E6974;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #242A36;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #242A36;
}
