input:focus {
  outline: none;
}

/* Colors */

.header {
  background-color: #312C42;
}

.light-purple {
  background-color: #B4A5CB;
}

.dark {
  background-color: #1C142D;
}

.nu-purple {
  background-color: #4E2A83;
}

.light {
  background-color: #E7EEF2;
}

.search-light {
  background-color: #414159;
}

.search-dark {
  background-color: #291F44;
}

.transparent {
  background-color: transparent;
}

.hover-light-purple {
  background-color: #B4A5CB;
}

.hover-light-purple:hover {
  background-color: hsl(273.2, 18.8%, 61%);
}


/* opacity 50% */
.region-color {
  background-color:  #5E57B2;
}

.region-handle-color {
  background-color:  #291F44;
}

.cursor-color {
  background-color:  #252547;
}

/* Text */

.text24 {
  font-size: 22px;
}

.text26 {
  font-size: 26px;
}

.text32 {
  font-size: 32px;
}

.text326 {
  font-size: 36px;
}

.text40 {
  font-size: 40px;
}

.text48 {
  font-size: 48px;
}

.lato300 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.lato400 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.lato500 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

.open-sans300 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.open-sans400 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.light-text {
  color: hsl(263.7, 26.8%, 76.2%);
}

.dark-text {
  color: hsl(259,25%,35%);
}

.light-purple-text {
  color: #B4A5CB;
}

.highlight-text {
  color: hsl(263.7, 26.8%, 76.2%);
}

.text-box-text-color {
  color: #7F7E88;
}

.hover-dark-text {
  color: #B4A5CB;
}

.hover-dark-text:hover {
  color: hsl(273.2, 26.8%, 61%);
}


/* Sizing */

.eighth-height {
  height: 12.5%;
}

.tenth-height: {
  display: block;
  height: 10% !important;
}


/* Buttons */

.no-border {
  border-style: none !important;
}


/* Target specific divs */

.center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
}

.close-inst {
  position: relative;
  left: 100%;
  bottom: 50%;
}

.close-inst:hover {
  color: #E7EEF2;
}

.dim {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(28, 20, 45, 0.2);
}

.instruction-box {
  background-color: #414159;
  border-radius: 15px;
  height: 50%;
  left: 25%;
  position: relative;
  top: 25%;
  width: 50%;
}
.instruction-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: absolute;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.rounded-top {
  border-radius: 10px 10px 0px 0px !important;
}

.voogle-button {
  width: 180px;
  height: 180px;
  position: relative;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1C142D;
}

::-webkit-scrollbar-thumb {
  background: #312C42;
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(253.64, 20%, 19.57%);
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
